.modal {
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: -100%;*/
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--primary);
}

.modalHeader {
    font-size: 1.4rem;
    color: var(--primary);
}

.modalContent {
    font-size: 1rem;
    color: var(--primary);
}

.modalLink {
    color: #fff;
    width: 100%;
    padding: 2px 6rem;
    border-radius: 20px;
    background-color: var(--primary);
    text-align: center;
    cursor: pointer;
}